awesome-slugify==1.6.5
cachetools==4.2.2
certifi==2021.5.30
charset-normalizer==2.0.5
click==8.0.1
Flask==2.0.1
Flask-JWT-Extended==4.3.0
Flask-SQLAlchemy==2.5.1
google-auth==2.1.0
greenlet==1.1.1
idna==3.2
inflect==5.3.0
itsdangerous==2.0.1
Jinja2==3.0.1
MarkupSafe==2.0.1
mysql-connector-python==8.0.26
protobuf==3.18.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
PyJWT==2.1.0
python-dotenv==0.19.0
regex==2021.8.28
requests==2.26.0
rsa==4.7.2
sqlacodegen==2.3.0
SQLAlchemy==1.4.23
Unidecode==0.4.21
urllib3==1.26.6
Werkzeug==2.0.1
